.wrap{
    width: 700px;
    height: auto;
    background-color: burlywood;
	
	position: relative;
}
.wrap sell{
	padding: 15px;
}
.sell{
    height: 50px;
    color: red;
    width: 50px;
    
	box-shadow: inset 1px 1px 5px #000;
	margin: 15px;
	position: relative;
}
.col-xs-3{
	padding: 0;
}
.score{
	 margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	width: 290px;
	padding-top: 30px;
	padding-left: 125px;
    height: 75px;
    border: 1px solid gold;
}
.button{
    margin-top: 15px;
    width: 75px;
    height: 75px;
    border: 1px solid red;
    cursor: pointer;
}
.button:active{
    border: 1px solid gold;
}
.one{
	height: 50px;
	width: 50px;
	background-color: aqua;
	border: 1px solid gray;
	margin: 0;
	padding-left: 20px;
	padding-top: 15px;
	position: absolute;
}
.neo{
	background-color: red;
}

.box{
	height: 50px;
	width: 50px;
	color: aqua;
}
.box:hover{
	cursor: pointer;
}